section(id="footer")
    div(class="container")
        div(class="row")
            div(class="col-8 col-12-medium")
                section
                    header
                        h2 Bladit
                    ul(class="dates")
                        li
                            span(class="date") Jan <strong>27</strong>
                            h3: a(href="#") Lorem dolor sit amet veroeros
                            p Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
                        li
                            span(class="date") Jan <strong>27</strong>
                            h3: a(href="#") Lorem dolor sit amet veroeros
                            p Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
                        li
                            span(class="date") Jan <strong>27</strong>
                            h3: a(href="#") Lorem dolor sit amet veroeros
                            p Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
                        li
                            span(class="date") Jan <strong>27</strong>
                            h3: a(href="#") Lorem dolor sit amet veroeros
                            p Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
                        li
                            span(class="date") Jan <strong>27</strong>
                            h3: a(href="#") Lorem dolor sit amet veroeros
                            p Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.
            div(class="col-4 col-12-medium")
                section
                    header
                        h2 What's this all about?
                    a(href="#" class="image featured"): img(src="./assets/images/pic10.jpg" alt="")
                    p
                        != 'This is <strong>Dopetrope</strong> a free, fully responsive HTML5 site template by <a href="http://twitter.com/ajlkn">AJ</a> for <a href="http://html5up.net/">HTML5 UP</a> Its released for free under the <a href="http://html5up.net/license/">Creative Commons Attribution</a> license so feel free to use it for any personal or commercial project &ndash; just forget to credit us!'
                    footer
                        ul(class="actions")
                            li: a(href="#" class="button") Find out more
            div(class="col-4 col-6-medium col-12-small")
                section
                    header
                        h2 Tempus consequat
                    ul(class="divided")
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
                        li: a(href="#") Lorem ipsum dolor sit amet sit veroeros
            div(class="col-4 col-6-medium col-12-small")
                section
                    header
                        h2 Ipsum et phasellus
                    ul(class="divided")
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
                        li: a(href="#") Elit class aptent taciti sociosqu ad litora
            div(class="col-4 col-12-medium")
                section
                    header
                        h2 Vitae tempor lorem
                    ul(class="social")
                        li: a(class="icon brands fa-facebook-f" href="#"): span(class="label") Facebook
                        li: a(class="icon brands fa-twitter" href="#"): span(class="label") Twitter
                        li: a(class="icon brands fa-linkedin-in" href="#"): span(class="label") LinkedIn
                    ul(class="contact")
                        li
                            h3 Address
                            p!= 'Untitled Incorporated<br /> 1234 Somewhere Road Suite<br /> Nashville'
                        li
                            h3 Mail
                            p: a(href="#") someone@untitled.tld
                        li
                            h3 Phone
                            p: a(href="#") (55) 80 99 50 29
            div(class="col-12")
                include ../partials/copyright
