section(id="header")
    h1: a(href="index.html") Dopetrope
    nav(id="nav")
        ul
            li: a(href="index.html") Home
            li
                a(href="#") Dropdown
                ul
                    li: a Lorem
                    li: a Magna
                    li: a Etiam
                    li
                        a(href="#") Phasellus
                        ul
                            li: a(href="#") Perro
                            li: a(href="#") Jóse
                    li: a Veros
            li: a(href="left-sidebar.html") Left Sidebar
            li: a(href="right-sidebar.html") Right Sidebar
            li: a(href="no-sidebar.html") No Sidebar
