section
    header(class="major")
        h2 The Blog
    div(class="row")
        div(class="col-6 col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic08.jpg" alt="")
                header
                    h3 Magna
                    p Posted 45 minutes
                p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button icon solid fa-file-alt") Continue Reading
                        li: a(href="#" class="button alt icon solid fa-comment") 33 comments
        div(class="col-6 col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic08.jpg" alt="")
                header
                    h3 Magna
                    p Posted 45 minutes
                p Lorem ipsum dolor sit amet sit veroeros sed et blandit consequat sed veroeros lorem et blandit adipiscing feugiat phasellus tempus hendrerit, tortor vitae mattis tempor, sapien sem feugiat sapien, id suscipit magna felis nec elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos lorem ipsum dolor sit amet.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button icon solid fa-file-alt") Continue Reading
                        li: a(href="#" class="button alt icon solid fa-comment") 33 comments
