div(id="copyright")
    ul(class="links")
        li &copy; Untitled. All rights reserved.
        li Design: <a href="http://html5up.net" target="_blank">HTML5 UP</a> and modified by <a href="https://rafex.dev" target="_blank"></a>
