section(class="box")
    header
        h3 Feugiat consequat
    p Veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat sed lorem consequat feugiat lorem dolore.
    ul(class="divided")
        li <a href="#">Sed et blandit consequat sed</a>
        li <a href="#">Hendrerit tortor vitae sapien dolore</a>
        li <a href="#">Sapien id suscipit magna sed felis</a>
        li <a href="#">Aptent taciti sociosqu ad litora</a>
    footer
        a(href="#" class="button alt") Ipsum consequat
