section
    header(class="major")
        h2 My Portfolio
    div(class="row")
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic02.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic03.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic04.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic05.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic06.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
        div(class="col-4 col-6-medium col-12-small")
            section(class="box")
                a(href="#" class="image featured"): img(src="./assets/images/pic07.jpg" alt="")
                header
                    h3 Ipsum
                p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
                footer
                    ul(class="actions")
                        li: a(href="#" class="button alt") Find
