section(class="box")
    a(href="#" class="image featured")
        img(src="./assets/images/pic09.jpg" alt="")
    header
        h3 Sed etiam lorem nulla
    p Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.
    footer
        a(href="#" class="button alt") Magna sed taciti
