@font-face {
  font-family: '$open-sans';
  src: url('/assets/fonts/OpenSans-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: '$myriad-bold';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/MYRIADPRO-BOLD.woff') format('woff');
}
