@function parseint($n) {
  @return $n / ($n * 0 + 1);
}

@mixin rem($values, $property: 'font-size') {
  $px: ();
  $rem: ();

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $px: append($px, $value);
      $rem: append($rem, $value);
    }
    @else {
      $unit: unit($value);
      $val: parseint($value);

      @if $unit == 'px' {
        $px: append($px, $value) !important;
        $rem: append($rem, ($val / 10 + rem)) !important;
      }

      @if $unit == 'rem' {
        $px: append($px, ($val * 10 + px)) !important;
        $rem: append($rem, $value) !important;
      }
    }
  }

  @if $px == $rem {
    #{$property}: $px;
  }
  @else {
    #{$property}: $px;
    #{$property}: $rem;
  }
}
